.main__cards{
    margin: 50px 50px;
}

.main__subtitle {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.main__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}