.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: visibility 0.4s ease-in-out;
  z-index: 3;
  cursor: pointer;
}

.modal_is-opened {
  visibility: visible;
  z-index: 3;
}

.modal__container {
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    font-weight: 700;
}

.modal__close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modalwithform__title {
    margin: 0;
    padding: 30px 0 0 30px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    row-gap: 40px;
}

.modal__fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal__footer {
    display: flex;
    gap: 8px;
}

.modal__label {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__input {
    border: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
    width: 440px;
    font-weight: 700;
    line-height: 1.2;
}

.modal__fieldset legend {
    margin-bottom: 10px;
}

.modal__fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    margin: 0;
    padding: 0;
}

.modal__fieldset label {
    color: #00000080;
}

.modal__fieldset input[type="radio"] {
  accent-color: #000;
}

.modal__fieldset label:has(> input[type="radio"]:checked) {
  color: #000;
  font-weight: 700;
}

.modal__submit-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
}

.modal__submit-btn:hover {
    background-color: #00000099;
}

.modal__switch-btn {
  border: none;
  background: transparent;
  font-weight: 700;
  line-height: 1.2;
  color: #0000004D;
  cursor: pointer;
}

.modal__switch-btn:hover {
    color: #000;
}