.modal__confirm-text {
    text-align: center;
    line-height: 1.2;
    padding: 0 100px;
}

.modal__confirm-footer {
    align-items: center;
    flex-direction: column;
}

.modal__submit-btn-logout {
    background-color: transparent;
    color: #FF4D00;
}

.modal__submit-btn-logout:hover {
    background-color: transparent;
}

.modal__cancel-btn {
    background-color: transparent;
    border: none;
    font-weight: 700;
}