.itemcard{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid #0000004D;
    border-radius: 20px;
    cursor: pointer;
}

.itemcard__tag{
    position: absolute;
    z-index: 2;
    padding: 2px 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.25;
    top: 15px;
}

.itemcard__img {
    position: relative;
    width: 100%;
    position: relative;
}

.itemcard__like-icon {
  width: 20px;
  height: 17px;
}

.itemcard__like-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    bottom: 15px;
    cursor: pointer;
}

/* Mobile View */ 
@media screen and (max-width: 767px) {
    .itemcard__tag{
        padding: 1.4px 8.4px;
        font-size: 0.7rem;
        top: 10px;
    }

    .itemcard__like-icon {
        width: 14px;
        height: 11.9px;
    }

    .itemcard__like-btn {
        bottom: 10.5px;
    }
}

/* Desktop View */ 
@media screen and (min-width: 768px) and (max-width: 1020px) {
    .itemcard__tag{
        font-size: 0.9rem;
        top: 13px;
    }

    .itemcard__like-icon {
        width: 18px;
        height: 15.3px;
    }

    .itemcard__like-btn {
        bottom: 13.5px;
    }
}