.weathercard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 80px;
    margin: 25px 50px;
    border-radius: 12px;
    overflow: hidden;
}

.weathercard__temp{
    color: #fff;
    font-size: 2.25rem;
    line-height: 1.1;
    font-weight: 700;
    padding: 15px;
    z-index: 2;
    position: relative;
}

.weathercard__sun,
.weathercard__moon,
.weathercard__cloud,
.weathercard__rain,
.weathercard__storm,
.weathercard__snow,
.weathercard__fog {
  position: absolute;
  top: 0;
  right: 0;
}

.weathercard__cloud {
  top: 12px;
  right: 0;
}


/* Mobile View */
@media screen and (max-width: 767px){
  .weathercard {
      height: 56px;
      margin: 10px 25px;
  }

  .weathercard__temp{
      font-size: 1.5rem;
      padding: 10px;
  }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1020px){
  .weathercard {
      height: 72px;
      margin: 15px 35px;
  }

  .weathercard__temp{
      font-size: 2rem;
      padding: 13px;
  }
}