.weathercard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 80px;
    margin: 30px 50px;
    border-radius: 12px;
    overflow: hidden;
}

.weathercard__temp{
    color: #fff;
    font-size: 2.25rem;
    line-height: 1.1;
    font-weight: 700;
    padding: 15px;
    z-index: 2;
    position: relative;
}

.weathercard__sun,
.weathercard__moon,
.weathercard__cloud,
.weathercard__rain,
.weathercard__storm,
.weathercard__snow,
.weathercard__fog {
  position: absolute;
  top: 0;
  right: 0;
}

.weathercard__cloud {
  top: 12px;
  right: 0;
}


