.main__cards{
    margin: 50px 50px;
}

.main__subtitle {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.main__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Mobile View */
@media screen and (max-width: 767px) {
    .main__cards{
        margin: 25px 25px;
    }

    .main__subtitle {
        font-size: 0.875rem;
        margin-bottom: 28px;
    }

    .main__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1020px) {
    .main__cards{
        margin: 35px 35px;
    }

    .main__subtitle {
        font-size: 0.925rem;
        margin-bottom: 28px;
    }

    .main__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}