.modal__confirm-text {
    text-align: center;
    line-height: 1.2;
    padding: 0 100px;
}

.modal__confirm-footer {
    align-items: center;
}

.modal__submit-btn-delete {
    background-color: transparent;
    color: #FF4D00;
}

.modal__submit-btn-delete:hover {
    background-color: transparent;
}

.modal__cancel-btn {
    background-color: transparent;
    border: none;
    font-weight: 700;
}

/* Mobile View */
@media screen and (max-width: 767px) {
    .modal__confirm-text, 
     .modal__submit-btn-delete, 
     .modal__cancel-btn {
        font-size: 0.875rem;
    }
}