.header {
    display: flex;
    justify-content: space-between;
    max-height: 40px;
    padding: 30px 50px;
    font-weight: 700;
}

.header__left {
    display: flex;
    justify-content: space-between;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 89px;
    height: 40px;
}

.header__dateplace {
    height: 24px;
    font-size: 1.25rem;
    line-height: 24px;
    margin: auto 10px;
}

.header__add_btn {
    background-color: transparent;
    margin-left: auto;
    font-size: 1.25rem;
    line-height: 24px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.header__username {
    font-size: 1.25rem;
    line-height: 24px;
    margin: auto 20px;
}

.header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header__link-profile {
    display: flex;
    text-decoration: none;
    color: #000;
}

.header__auth-btn {
    background: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 8px;
    cursor: pointer;
}

.header__auth-btn:hover {
    opacity: 0.7;
}


/* Mobile View */
@media screen and (max-width: 767px) {
    .header {
       flex-wrap: wrap;
       max-height: fit-content;
       justify-content: space-between;
       padding: 15px 25px;
    }

    .header__right {
        flex-direction: column-reverse;
        justify-content: flex-end;
        max-width: 35%;
        padding: 0;
        align-items: flex-end;
    }

    .header__logo {
        width: 71.2px;
        height: 32px;
        padding: 4px;
    }

    .header__dateplace {
        font-size: .875rem;
        margin: 2px;
    }

    .header__left {
        flex-direction: column;
        max-width: 65%;
    }

    .header__add_btn {
        font-size: 0.875rem;
        padding: 2px;
    }

    .header__username {
        font-size: .875rem;
        margin: 0;
        padding: 5px;
    }

    .header__avatar {
        width: 30px;
        height: 30px;
    }


    .header__auth-btn {
        font-size: 0.875rem;
        padding: 2px;
        margin-top: 10px;
    }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1020px) {
    .header {
       padding: 20px 35px;
    }

    .header__logo {
        width: 80.1px;
        height: 36px;
    }

    .header__dateplace {
        font-size: 1.125rem;
    }

    .header__add_btn {
        font-size: 1.125rem;
    }

    .header__username {
        font-size: 1.125rem;
    }

    .header__auth-btn {
        font-size: 1.125rem;
    }
}
