.header {
    display: flex;
    max-height: 40px;
    padding: 30px 50px;
    font-weight: 700;
}

.header__left {
    margin-right: auto;
    display: flex;
}

.header__right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 89px;
    height: 40px;
}

.header__dateplace {
    height: 24px;
    font-size: 1.25rem;
    line-height: 24px;
    margin-top: 11px;
    margin-left: 40px;
}

.header__add_btn {
    background-color: transparent;
    margin-left: auto;
    font-size: 1.25rem;
    line-height: 24px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.header__username {
    font-size: 1.25rem;
    line-height: 24px;
    margin: auto 20px;
}

.header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header__link-profile {
    display: flex;
    text-decoration: none;
    color: #000;
}

.header__auth-btn {
    background: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 8px;
    cursor: pointer;
}

.header__auth-btn:hover {
    opacity: 0.7;
}
