.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: visibility 0.4s ease-in-out;
  z-index: 3;
  cursor: pointer;
}

.modal_is-opened {
  visibility: visible;
  z-index: 3;
}

.modal__image-container {
    background-color: #fff;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.modal__image {
    max-width: 498px;
    max-height: 498px;
}

.modal__preview-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal__image-container p {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
    margin-left: 30px;
}

.modal__title {
    margin: 20px 0 10px 0;
}

.modal__weather {
    margin: 0 0 30px 0;
}

.modal__content {
    display: flex;
    justify-content: space-between;
}

.modal__delete-btn {
    margin: 20px;
    color: #FF4D00;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
    cursor: pointer;
}


/* Mobile View */
@media screen and (max-width: 767px) {
    .modal__image {
        max-width: 348px;
        max-height: 348px;
    }

    .modal__image-container p {
        font-size: 0.875rem;
        line-height: 1.1;
        margin-left: 21px;
    }

    .modal__title {
        margin: 14px 0 7px 0;
    }

    .modal__weather {
        margin: 0 0 21px 0;
    }

    .modal__delete-btn {
        margin: 14px;
        font-size: 0.875rem;
        line-height: 1.1;
    }
}