.sidebar {
    display: flex;
    gap: 16px;
}

.sidebar__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.sidebar__username {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
}