.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 180px;
}

.sidebar__details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.sidebar__username {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__link {
    background-color: transparent;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: left;
    border: none;
    font-weight: 700;
    padding: 0;
    cursor: pointer;
}


/* Mobile View */
@media screen and (max-width: 767px) {
    .sidebar {
        min-width: 35%;
    }

    .sidebar__details {
        gap: 5px;
    }

    .sidebar__username {
        font-size: .8rem;
        line-height: 1.1rem;
        white-space: nowrap;
    }

    .sidebar__avatar {
        width: 30px;
        height: 30px;
    }

    .sidebar__links {
        gap: 7px;
    }

    .sidebar__link {
        font-size: 0.8rem;
        line-height: 1.1rem;
    }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1020px) {
    .sidebar {
        min-width: 22%;
    }

    .sidebar__details {
        gap: 5px;
    }

    .sidebar__username {
        font-size: 1.125rem;
        line-height: 1.1rem;
        white-space: nowrap;
    }

    .sidebar__avatar {
        width: 40px;
        height: 40px;
    }

    .sidebar__links {
        gap: 7px;
    }

    .sidebar__link {
        font-size: 1.125rem;
        line-height: 1.1rem;
    }
}
