.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 180px;
}

.sidebar__details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.sidebar__username {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__link {
    background-color: transparent;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: left;
    border: none;
    font-weight: 700;
    padding: 0;
    cursor: pointer;
}