.clothessection__row {
    display: flex;
    gap: 20px;
}

.clothessection__txt {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
}

.clothessection__btn {
    background-color: transparent;
    font-size: 1.25rem;
    line-height: 24px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    color: #00000099;
}

.clothessection__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Mobile View */
@media screen and (max-width: 767px) {
    .clothessection__row {
        gap: 14px;
        justify-content: space-between;
    }

    .clothessection__txt {
        font-size: 0.875rem;
        line-height: 1.1rem;
    }

    .clothessection__btn {
        font-size: 0.875rem;
        line-height: 1.1rem;
    }

    .clothessection__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 14px;
    }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1020px) {
    .clothessection__row {
        gap: 18px;
        justify-content: space-between;
    }

    .clothessection__txt {
        font-size: 1.125rem;
        line-height: 1.1rem;
    }

    .clothessection__btn {
        font-size: 1.125rem;
        line-height: 1.1rem;
    }

    .clothessection__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
    }
}